* {
  margin: 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

html {
  background-color: #eee;
}

body {
  padding: 25px 0 0 25px;
}

nav {
  position: relative;
  z-index: 0;
  width: 550px;
  height: 70px;
  background: #ffffff;
  box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.1);
  border-radius: 10px 10px 0 0;
}

.navbar--logo {
  margin: 22px 0 0 30px;
}

.hero {
  width: 550px;
  background: #ffffff;
}

.hero--img {
  width: 396px;
  padding: 26px 0 32px 77px;
}

.hero--title {
  padding: 0 0 16px 36px;
  font-size: 36px;
  color: #000000;
}

.hero--desc {
  width: 320px;
  padding: 0 0 49px 36px;
  font-weight: 300;
  font-size: 16px;
}

.card {
  width: 514px;
  background: #ffffff;
  border-radius: 0 0 10px 10px;
  padding: 0 0 30px 36px;
  font-size: 12px;
}

.card--stack_grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin-bottom: 9px;
}

.card--img {
  grid-area: 1 / 1 / 2 / 2;
  width: 176px;
}

.card--status_box {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 61px;
  height: 20px;
  margin: 6px 0 0 6px;
  background-color: #ffffff;
  border-radius: 2px;
}

.card--status_text {
  font-weight: 400;
  font-size: 10.24px;
}

.card--rating_container {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 8px;
}

.card--rating_img {
  width: 14px;
  margin-right: 2px;
}

.card--rating_text > span {
  color: #918e9b;
}

.card--event_title {
  margin-bottom: 8px;
}
