* {
  margin: 0;
}

html {
  background-color: #eee;
}

body {
  padding: 25px 0 0 25px;
}

nav {
  width: 550px;
  height: 70px;
  background: #ffffff;
  box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.1);
  border-radius: 10px 10px 0 0;
}

.navbar--logo {
  margin: 22px 0 0 30px;
}

.hero {
  width: 550px;
  height: 451px;
  background: #ffffff;
}

.hero--img {
  width: 396px;
  padding: 26px 0 32px 77px;
}

.hero--title {
  padding: 0 0 16px 36px;
  font-family: "Poppins";
  font-size: 36px;
  color: #000000;
}

.hero--desc {
  width: 320px;
  padding: 0 0 49px 36px;
  font-family: "Poppins";
  font-weight: 300;
  font-size: 16px;
}
